.formcontainer {
	background-color: #4BFFA5;
	border-radius: 10px;
	width: 550px;
	height: 680px;
	.margin-left: auto;
	.margin-right: auto;
}

.formcontainer div {
	width: 504px;
	background-color: #4BFFA5;
	.margin-left: auto;
	.margin-right: auto;
}

.formcontainer .name {
	margin-left: auto;
	margin-right: auto;
}

.formcontainer .amount {
	margin-left: auto;
	margin-right: auto;
}

.formcontainer .currency {
	margin-left: auto;
	margin-right: auto;
}

.formcontainer .classification {
	margin-left: auto;
	margin-right: auto;
}

.formcontainer .date {
	margin-left: auto;
	margin-right: auto;
}

.formcontainer .name .box {
	margin-top: 20px;
}

.formcontainer .date .box::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.box {
	font-size: 34px;
	border:  0px;
	border-radius: 10px;
	height: 80px;
	width: 500px;
	background-color: black;
	margin-bottom: 20px;
}

.expense {
	font-size: 30px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: inline-block;
}

.expense * {
	color: black;
	background-color: #4BFFA5;
	font-size: 24px;
}

.expense .expenseBox {
    height: 25px;
    width: 25px;
    background-color: green;
}

.addbutton {
	margin-left: auto;
	margin-right: auto;
	background-color: red;
}

.addbutton .button {
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	border: 10px;
	border-color: yellow;
	border-radius: 10px;
	height: 80px;
	width: 140px;
	color: yellow;
	transition: 0.2s;
}

.addbutton .button:hover {
	transition: 0.2s;
	background-color: darkred;
}




