* {
	background-color: black;
}

.iContainer {
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: #4BFFA5;
	height: 700px;
	width: 1200px;
	border-radius: 10px;
}

.iContainer table {
	margin-left: auto;
	margin-right: auto;
	background-color: #4BFFA5;
	padding: 15px 15px;
}

.iContainer table thead tr th {
	text-align: center;
	font-size: 30px;
	padding: 20px 40px;
}
.iContainer table tbody tr td {
	text-align: center;
	padding: 20px 5px;
	font-size: 24px;
	color: white;
}

.iContainer table tbody tr td .modifyButton:hover {
	border-radius: 10px;
	background-color: darkred;
	border-width: 0px;
	text-align: center;
	padding: 5px 3px;
	font-size: 24px;
	color: white;
}

.iContainer table tbody tr td a {
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border-radius: 10px;
	background-color: darkred;
	border-width: 0px;
	text-align: center;
	font-size: 24px;
	color: white;
	transition: 0.2s;
}

.iContainer table tbody tr td a:hover {
	background-color: red;
	transition: 0.2s;
}

.totalContainer {
	float: left;
	position: relative;
	margin-top: 70px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	height: 100px;
	width: 200px;
	background-color: #4BFFA5;
}

.totalContainer h2 {
	background-color: #4BFFA5;
	color: black;
	text-align: center;
	margin-top: 10px;
}

.totalContainer h3 {
	border-radius: px;
	text-align: center;
	font-size: 30px;
	margin: 5px 5px 5px 5px;
}

.dateRangeQuery {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: #4BFFA5;
	height: 50px;
	width: 800px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.dateRangeQuery .tPath {
	border-radius: 10px;
	background-color: #4BFFA5;
}

.dateRangeQuery .textQ {
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	border: 0px;
	border-radius: 5px;
	font-size: 24px;
}

.dateRangeQuery .searchButton {
	color: white;
	padding: 5px 5px 5px 5px;
	font-size: 24px;
	border:  none;
	border-radius: 5px;
	transition: 0.2s;
}

.dateRangeQuery .searchButton:hover {
	background-color: white;
	color: black;
	transition: 0.2s;
}