.showContainer {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.showContainer a {
	color: yellow;
	margin-left: 50px;
	background-color: #242424;
	padding: 10px 10px 10px 10px;
	border-width: 10px;
	border-radius: 5px;
	border-color: yellow;
	font-size: 24px;
	border: none;
	text-decoration: none;
	transition: 0.2s;
}

.showContainer a:hover {
	color: black;
	background-color: #4BFFA5;
	transition: 0.2s;
}

button {
	margin-left: 50px;
	margin-top: 40px;
	color: gold;
	font-size: 24px;
	width: 210px;
	height: 75px;
	border: none;
	border-radius: 10px;
	background-color: darkred;
	transition: 0.2s;
}

button:hover {
	transition: 0.2s;
	background-color: red;
}
