<h1>Editing transaction</h1>

<%= render "form", transaction: @transaction %>

<div class="buttons">
  <%= link_to "Show this transaction", @transaction %>
  <%= link_to "Back to transactions", transactions_path %>
</div>
